neo4j-graphrag[openai]==1.18.0
neo4j==6.2.0
openai==1.109.1
pandas==2.2.2
python-dotenv==1.2.2
tqdm==4.67.3
neo4j-viz==1.6.0
langchain_neo4j==0.10.0
matplotlib==3.10.0
seaborn==0.13.2
graphiti_core==0.29.2
langchain_openai==1.1.9
tavily==1.1.0
langfuse==4.14.1
langchain_community==0.4.2
